<!DOCTYPE html>
<html>
    <head>
        <title>TADDIB Indian House</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Menu Pages</a></h1>
        </header>

        <article>
            <time>founded: 14.02.2025, 12:14</time>
            <h2><a href="">Item 1</a></h2>
            <p>Parata</p>
            <p>2$</p>

        </article>


        {% for post in posts %}
        <article>
            <h2><a href="">{{ post.title }}</a></h2>
            <time>published: {{ post.published_date }}</time>
            <p>{{ post.text | linebreaksbr }}</p>
        </article>

        {% endfor %}
    </body>
</html>